@font-face {
  font-family: LocalFutura;
  src: url('../fonts/Futura/Futura.ttc');
  font-weight: 400;
}

html, body {
  margin: 0px; padding: 0px;
}

body {
  margin: 0px; padding: 0px;
  min-height: 100%;

  background: #EFEFEF;
  background-image: url('../images/texture-bg.png');
  -webkit-box-shadow: 0px 0px 22px #333 inset;

  font-family: Futura;
  color: #EFEFEF;
  text-shadow: 0px 0px 10px #333;

  -webkit-perspective: 1000;
  perspective: 1000;

  z-index: 1;
}

#controls {
  position: absolute; bottom: 88px; left: 0px; right: 0px;
  text-align: center;
}

/* Page View */

.page-view {
  position: relative; margin: 0px auto; height: 100%;
  overflow: hidden;

/*  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
*/
  /*background: rgba(255,255,255,0.3);*/

  width: 100%;
}

.page-view ul {
  margin: 0px; padding: 0px; height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;

  width: 600px;
}

.page-view ul li {
  margin: 0px; padding: 0px; height: 100%;
  float: left;
  display: block;
  text-align: center;

  width: 300px;
}