@font-face {
  font-family: AppleSymbols;
  font-weight: 400;
  src: url('../fonts/apple-symbols/apple-symbols-compact.ttf');
}

html, body {
  margin: 0px; padding: 0px;
}

body {
  margin: 0px; padding: 0px;
  min-height: 100%;

  background: #EFEFEF;
  background-image: url('../images/texture-bg.jpg');
  -webkit-box-shadow: 0px 0px 22px #333 inset;

  font-family: "futura-pt",sans-serif;
  color: #EFEFEF;
  text-shadow: 0px -1px 0px #000;

  -webkit-perspective: 1000;
  perspective: 1000;

  z-index: 1;
}

#controls {
  position: absolute; bottom: 0; left: 0; right: 0;
  text-align: center;
  line-height: 1.5em;
  padding: 0px;
  margin: 0px;

  cursor: pointer;

  font-family: AppleSymbols;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 0px -1px 0px #000;

  list-style-type: none;
}

#controls li { display: inline; margin-right: 20px; }
#controls li:last-child { margin-right: 0px; }

#controls a:link,
#controls a:visited { color: inherit; text-decoration: none; }

#controls a:active,
#controls a:hover,
#controls div:active,
#controls div:hover {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-shadow: 0px -1px 0px #000, 0px 0px 10px white;
}

/* Page View */

.page-view {
  position: relative; margin: 0px auto; height: 100%;
  overflow: hidden;

/*  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
*/
  /*background: rgba(255,255,255,0.3);*/

  width: 100%;
}

.page-view ul {
  margin: 0px; padding: 0px; height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;

  width: 600px;
}

.page-view ul li {
  margin: 0px; padding: 0px; height: 100%;
  float: left;
  display: block;
  text-align: center;

  width: 300px;
}